# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\resource\IdeaProjects\Multi-threaded dictionary server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
